<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Teléfonos - 1</title>
  </head>
  <body>
    <p>
      <a href="/">Inicio</a> |
      <a href="/crear/departamento">Crear departamento</a> |
      <a href="/los/edificios">Ver edificios</a>
    </p>
    <h5>Listado de Departamentos- {{numero}}</h5>

    {% for e in datos %}

    <ol>
      <li><b>Nombre Completo: </b>{{e['nombre_completo_propietario']}}</li>
      <li><b>Costo del Departamento: </b>{{e['costo_departamento']}}</li>
      <li><b>Numero de Cuartos: </b>{{e['numero_cuartos']}}</li>
      <li><b>Edificio: </b>{{e['edificio']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
